#transaction > .content > fieldset > .content > ul > li > span
{
	flex-grow: 999;
	flex-shrink: 1;
}

#transaction > .content > fieldset > .content > ul > li > span:first-child
{
	flex: 1 2 3;
	min-width: 8ex;

	align-self:  center;
	text-align: left;
	font-weight: bold;
}

#transaction > .content > fieldset > .content > ul > li
{
	justify-content: space-between;
	align-items: center;
	text-align: right;
	padding: 0.75rem;
}

#transaction > .content > fieldset > .content > ul > li > .technical_address
{
}

#transaction > .content > fieldset > .content > ul > li > .technical_transaction_hash,
#transaction > .content > fieldset > .content > ul > li > .technical_block_hash
{
	flex: 1 5 auto;
	font-family: monospace;
	text-align: right;
	min-width: 21ex;
}

#transaction > .content > fieldset > .content > ul > li > .emoji
{
	font-family: 'Noto Color Emoji';
}

#transaction > .content > fieldset > .content > ul > li > .verified { color: green; }
#transaction > .content > fieldset > .content > ul > li > .warning { color: orange; }
#transaction > .content > fieldset > .content > ul > li > .error { color: red; }

#transaction > .content > fieldset > .content > ul > li > .icon
{
	flex-grow: 1;
	flex-shrink: 0;
	text-align: center;
	line-height: 2.5rem;
	font-size: 2rem;
	width: 3.25rem;
	height: 2.5rem;
	margin-left: 0.5rem;
	margin-right: -0.25rem;
}

#transaction > .content > fieldset > .content > ul > li > .account
{
	text-align: right;
}

#transaction > .content > fieldset > .content > ul > li > .account > span:first-child
{
	text-align: right;
}


#transaction > .content > fieldset > .content > ul > li > .account > span:first-child > b
{
	flex: 0 0 auto;
	line-height: 1.5rem;
	font-size: 1.15rem;

	padding: 0;
	margin: 0;
}

#transaction > .content > fieldset > .content > ul > li > .account > span:first-child > small
{
	flex: 0 0 auto;
	line-height: 1.0rem;
	font-size: 0.75rem;
	opacity: 0.50;
	font-style: italic;

	padding: 0;
	margin: 0;
}
