#drawerControl
{
	display: none;
}

#drawerControl:checked ~ #overlay
{
	z-index: 98;
	display: block;
}

#drawerControl:checked ~ #drawer
{
	transform: translate(0, 0);
}

#overlay
{
	position: absolute;
	display: none;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.50);
}

#drawer
{
	
	position: absolute;
	z-index: 99;
	top: 0;
	left: 0;
	width: 80%;
	height: 100%;
	overflow: hidden;
	background-color: var(--background);
	box-shadow:
		0.1rem 0 0.3rem rgba(0, 0, 0, 0.31),
		0.2rem 0 0.5rem rgba(0, 0, 0, 0.13);

	transition: transform 0.25s ease-in-out;
	transform: translate(-125%, 0);
}

#drawer > .header
{
	height: 8rem;
	flex-grow: 0;
	flex-shrink: 0;
	justify-content: space-around;
	background-color: var(--primary);
	background-image: linear-gradient(to right, var(--primary-focus), var(--primary));
}
#drawer > .header > .item
{
	height: 5rem;
	flex-direction: row;
	justify-content: flex-start;
	padding: 0rem 1rem;
}

#drawer > .header > .item > .icon
{
	height: 5rem;
	width: 5rem;
	font-size: 3.5rem;
	line-height: 5rem;
	text-shadow:
	0 0.1rem 0.3rem rgba(0, 0, 0, 0.31),
	0 0.2rem 0.5rem rgba(0, 0, 0, 0.13);
}

#drawer > .header > .item > .text
{
	margin-left: 0.5rem;
	justify-content: center;
}

#drawer > .header > .item > .text > .title
{
	height: 2rem;
	font-size: 1.5rem;
	line-height: 2rem;
	font-weight: bold;
	color: var(--primary-text);

	display: inline-block;
	max-width: 12rem;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

#drawer > .header > .item > .text > .subtitle
{
	height: 1.75rem;
	font-size: 1.25rem;
	line-height: 1.5rem;
	font-weight: normal;
	color: var(--primary-text);
}

#drawer > .content
{
	display: block;
	height: auto;
	overflow: auto;
}

#drawer > .content > .group
{
	height: auto;
	border-bottom: 0.05rem solid var(--border-muted);
	padding-bottom: 1rem;
	margin-top: 1rem;
}
#drawer > .content > .group:last-child
{
	border-bottom: none;
}

#drawer > .content > .group > .header
{
	display: none;
	height: auto;
	color: var(--primary-muted);
	font-size: 1.25rem;
	line-height: 1.25rem;
	padding: 0rem 1rem;
	margin-bottom: 1rem;
}

#drawer > .content > .group > .item
{
	flex-direction: row;
	justify-content: flex-start;
	padding: 0.25rem 1rem;
}
#drawer > .content > .group > .item > .icon
{
	width: 3rem;
	line-height: 3rem !important;
	font-size: 1.5rem;
	text-align: center;
	opacity: 0.66;
}
#drawer > .content > .group > .item > .text
{
	height: 3.00rem;
	margin-left: 1rem;
	justify-content: center;
}

#drawer > .content > .group > .item > .text > .title
{
	color: var(--text);
	height: 1.25rem;
	font-size: 1.00rem;
	line-height: 1.25rem;
	font-weight: bold;
	margin-top: 0.10rem;
}

#drawer > .content > .group > .item > .text > .subtitle
{
	color: var(--text-muted);
	height: 1.00rem;
	font-size: 0.75rem;
	line-height: 0.75rem;
	margin-top: 0.10rem;
}

