@font-face {
  font-family: 'icomoon';
  src:
    url('../../fonts/icomoon.ttf?j8rqop') format('truetype'),
    url('../../fonts/icomoon.woff?j8rqop') format('woff'),
    url('../../fonts/icomoon.svg?j8rqop#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="--"], [class*=" --"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.--scan-right:before {
  content: "\e90e";
}
.--scan-left:before {
  content: "\e910";
}
.--appreciation:before {
  content: "\e90a";
}
.--depreciation:before {
  content: "\e90b";
}
.--sent:before {
  content: "\e908";
}
.--received:before {
  content: "\e907";
}
.--back:before {
  content: "\e90f";
}
.--earth:before {
  content: "\e90c";
}
.--globe:before {
  content: "\e90c";
}
.--language:before {
  content: "\e90c";
}
.--web:before {
  content: "\e90c";
}
.--internet:before {
  content: "\e90c";
}
.--sphere:before {
  content: "\e90c";
}
.--planet:before {
  content: "\e90c";
}
.--interact:before {
  content: "\e905";
}
.--receive:before {
  content: "\e90d";
}
.--send:before {
  content: "\e904";
}
.--help:before {
  content: "\e900";
}
.--wallet:before {
  content: "\e901";
}
.--verified:before {
  content: "\e911";
}
.--share:before {
	content: "\e912";
}
.--user:before {
  content: "\e903";
}
.--backup:before {
  content: "\e909";
}
.--notification:before {
  content: "\e906";
}
.--menu:before {
  content: "\e902";
}
