:root
{
	--white: white;
	--black: black;

	--green-lll:	rgb(222, 250, 221);
	--green-ll:		rgb(158, 234, 154);
	--green-l:		rgb(112, 218,106);
	--green:			rgb(75, 200, 70);
	--green-d:		rgb(46, 182, 39);
	--green-dd:		rgb(23, 147, 17);
	--green-ddd:	rgb(5, 99, 0);
	--green-dddd:	rgb(0, 42, 0);
	
	--gray-lll:		rgb(235, 235, 235);
	--gray-ll:		rgb(194, 194, 194);
	--gray-l:		rgb(162, 162, 162);
	--gray:			rgb(135, 135, 135);
	--gray-d:		rgb(110, 110, 110);
	--gray-dd:		rgb(82, 82, 82);
	--gray-ddd:		rgb(31, 31, 31);

	--orange-l:		rgb(255, 182, 96);
	--orange:		rgb(247, 148, 29);
	--orange-d:		rgb(179, 97, 0 );
	
	--red-l:			rgb(249, 89, 80);
	--red:			rgb(234, 31, 20);
	--red-d:			rgb(174, 13, 5);

	--scanguide-light:	url('../../img/scanguide_light.png');
	--scanguide-dark:		url('../../img/scanguide_dark.png');
}

body
{
	--background:		var(--white);
	--foreground:		var(--black);
	
	--text:				var(--black);
	--text-muted:		var(--gray-dd);
	--border:			var(--gray-ddd);
	--border-muted:	var(--gray-l);
	
	--primary:			var(--green);
	--primary-text:	var(--green-ddd);
	--primary-muted:	var(--green-dd);
	--primary-border:	var(--green-dd);
	--primary-focus:	var(--green-d);
	
	--secondary:		var(--orange);

	--disabled-text:	var(--gray);
	--disabled-color:	var(--gray-ll);
	--disabled-border:var(--gray-d);

	--icon:				var(--black);
	--icon-muted:		var(--gray);
	--icon-border:		var(--gray-ll);

	--pending-color:	var(--orange);
	--sent-color:		var(--red-d);
	--received-color:	var(--green-dd);

	--odd:				rgba(0, 0, 0, 0.042);
	--even:				rgba(0, 0, 0, 0.018);

	--scanguide:		var(--scanguide-light);
}

body[nightmode]
{
	--background: var(--black);
	--foreground: var(--gray-lll);

	--text:				var(--gray-ll);
	--text-muted:		var(--gray-l);
	--border:			var(--gray-ddd);
	--border-muted:	var(--gray-d);
	
	--primary:			var(--green-dddd);
	--primary-text:	var(--green-d);
	--primary-muted:	var(--green-ddd);
	--primary-border:	var(--green-dd);
	--primary-focus:	var(--green-ddd);
	
	--secondary:		var(--orange);
	
	--disabled-text:	var(--gray-dd);
	--disabled-color:	var(--gray-ddd);
	--disabled-border:var(--gray-d);

	--icon:				var(--gray-l);
	--icon-muted:		var(--gray);
	--icon-border:		var(--gray-dd);

	--pending-color:	var(--orange-d);
	--sent-color:		var(--red-d);
	--received-color:	var(--green-dd);

	--odd:				rgba(256, 256, 256, 0.10);
	--even:				rgba(256, 256, 256, 0.06);

	--scanguide:		var(--scanguide-dark);
}
