html,
body
{
	color: var(--text);
	font-size: 15px;
	font-family: 'Roboto';
	background-color: transparent;
	
	height: 100%;
	min-height: 100%;
	
	width: 100%;
	min-width: 100%;
}

body,
body *
{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body,
frame,
div,
span,
ul,
li,
input,
button,
section
{
	display: flex;
	flex-direction: column;
	align-items: stretch;
	padding: 0;
	
	width: 100%;
	position: relative;
}
