/**/
@import 'fonts.css';
@import 'colors.css';
@import 'layout.css';
@import 'elements.css';

/**/
@import 'components/drawer.css';

/**/
@import 'views/home.css';
@import 'views/send.css';
@import 'views/interact.css';
@import 'views/receive.css';
@import 'views/selectors.css';
@import 'views/transaction.css';

/* Components */
.help,
.confirm,
.warning
{
	padding-bottom: 1rem;
}

.help
{
	color: var(--text-muted);
}

.confirm
{
	color: var(--primary-text);
}

.warning
{
	color: var(--red);
}

.icon
{
	font-family: 'Noto Color Emoji';
}

.striped > *:nth-child(odd) { background-color: var(--odd); }
.striped > *:nth-child(even) { background-color: var(--even); }

.capitalized { text-transform: capitalize; }

.currency
{
	width: 5rem !important;
	font-size: 1rem !important;
	font-family: monospace;
}

fieldset
{
	width: auto;
	height: auto;
	flex-shrink: 0;
	flex-grow: 0;
	border: none;
	padding: 0rem 1rem;
}
fieldset:first-child
{
	padding-top: 1rem;
}

fieldset > header,
fieldset > .content
{
	width: 100%;
}
fieldset > .content
{
	padding: 1rem;
	border-top: 0.15rem solid var(--primary);
}

fieldset > header
{
	padding-left: 1.1rem;

	height: 3rem;
	font-size: 1.25rem;
	line-height: 3.15rem;

	font-weight: bold;

	color: var(--text);
}

button
{
	font-size: 1.25rem;
	line-height: 1.5rem;
	font-weight: bold;
	border: none;

	color: var(--primary-text);
	border-color: var(--primary-border);
	background-color: var(--primary);
}

button[disabled]
{
	color: var(--disabled-text);
	border-color: var(--disabled-border);
	background-color: var(--disabled-color);
}

/* Error screen */

#errorContent
{
	display: inline-block;
	width: 100%;
	height: auto;
	font-family: monospace;
	border-radius: 0.25rem;
	padding: 1rem;

	color: var(--disabled-border);
	background-color: var(--disabled-color);
}

/* Send Screen */

fieldset > .content
{
	flex-grow: 1;
	height: 100%;
	align-items: flex-start;
}

fieldset > .content > .row > input,
fieldset > .content > .row > .input
{
	height: 3rem;
	line-height: 2rem;
	font-size: 1.25rem;
	padding: 0.5rem 1.0rem;

	color: var(--text);
	background-color: var(--odd);
	border: none;
}

fieldset > .content > .icon,
fieldset > .content > .row > .icon
{
	margin: 0;
	width: 5rem;
	height: 3rem;
	font-size: 1.5rem;
	line-height: 3rem;
	text-align: center;
	color: var(--icon-muted);
	background-color: var(--odd);
	border-left: 0.1rem dotted var(--icon-border);
}

fieldset > .content > .icon:first-child,
fieldset > .content > .row > .icon:first-child
{
	border-left: none;
	border-right: 0.1rem dotted var(--icon-border);
}

fieldset > .content > *:first-child,
fieldset > .content > .row > *:first-child
{
	border-top-left-radius: 0.5rem;
	border-bottom-left-radius: 0.5rem;
}
fieldset > .content > *:last-child,
fieldset > .content > .row > *:last-child
{
	border-top-right-radius: 0.5rem;
	border-bottom-right-radius: 0.5rem;
}

/**/

#receive .account
{
	padding: 0.25rem;
	border-radius: 0.5rem;
	background-color: var(--gray-lll);
	width: 100%;
}

#receive .account > .header
{
	height: 4.0rem;
	line-height: 3rem;
}

#receive .account > .header > div
{
	align-items: flex-start;
	justify-content: flex-start;
	padding-left: 0.5rem;
	flex-grow: 0;
}

#receive .account > .header > div > b
{
	height: 2.25rem;
	font-size: 1.33rem;
	line-height: 2.75rem;
	color: var(--gray-dd);

	max-width: 14rem;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

#receive .account > .header > div > i
{
	height: 1.75rem;
	font-size: 1.20rem;
	line-height: 1.25rem;
	color: var(--gray);
}

#receive .account > .header > .icon
{
	height: 4rem;
	width: 4rem;
	padding: 0.5rem;
	border-radius: 0.5rem;
	font-size: 2.75rem;
	line-height: 3.1rem;
}

#receive .account > .qrcode
{
	align-self: center;
	padding: 1rem;
	border-radius: 0.5rem;

	height: 19rem;
	width: 19rem;
}

#receive .account > .address
{
	width: 27ex;
	word-break: break-all;

	color: var(--gray-dd);
	font-family: monospace;
	font-size: 1.25rem;
	line-height: 1.50rem;
	text-align: center;
	align-self: center;
	justify-self: center;
	padding: 1rem;
	padding-top: 0rem;
}

/**/

main.view { visibility: visible; }

.view
{
	visibility: hidden;
	position: fixed;
	top: 0;
	left: 0;

	height: 100%;
	min-height: 100%;

	width: 100%;
	align-items: flex-start;
	justify-content: space-between;
	background-color: var(--background);
	overflow: hidden;
}

.view > .content
{
	height: calc(100% - 4rem);
	max-height: calc(100% - 4rem);
	list-style-type: none;
	padding-bottom: 1rem;
	overflow: auto;
}

.view > .content > *:last-child
{
	margin-bottom: 0;
}

/* Currency Selector */

.selector > .content,
.selector > .content > fieldset
{
	width: 100%;
	min-width: 100%;
	max-width: 100%;
}

.selector .content > label
{
	width: 100%;
	min-width: 100%;
	max-width: 100%;
	margin-bottom: 0.5rem;
	text-align: left;
	flex-shrink: 0;
	align-items: stretch;
}

.selector .content > label > .icon
{
	width: 3rem;
	flex-grow: 0;
	flex-shrink: 0;
	font-size: 1.25rem;
}

.selector .content > label > .title
{
	display: inline-block;
	padding-left: 1rem;

	height: 3rem;
	line-height: 3rem;
	font-size: 1rem;
	font-weight: bold;
	color: var(--text-muted);
	background-color: var(--odd);
	font-size: 1rem;

	width: auto;
	min-width: calc(100% - 3rem);
	max-width: calc(100% - 3rem);

	flex-shrink: 1;
	flex-grow: 9;

	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	padding-right: 1rem;
}

.selector .content > label > .title >  small
{
	display: inline;
}

#language.selector .content > label > .title,
#currency.selector .content > label > .title
{
	min-width: calc(100% - 5rem);
	max-width: calc(100% - 5rem);
}

#language.selector .content > label > .icon,
#currency.selector .content > label > .icon
{
	width: 5rem;
	font-size: 1rem;
	font-family: monospace;
}

/**/

#welcome > .toolbar > .title
{
	text-align: center;
}

#currency.selector .content > label > .title
{
	min-width: calc(100% - 4rem);
	max-width: calc(100% - 4rem);
}

#welcome.selector .content > label > .icon
{
	width: 4rem;
}

#welcome.selector .content > label:nth-child(2) > .icon
{
	font-size: 1.25rem;
}

/* Home */

#home > .toolbar > .title
{
	text-align: center;
}

#home > .toolbar > #app_title
{
	display: block;
	font-family: 'Permanent Marker', cursive;
}
#home > .toolbar > #app_title > small
{
	display: inline-block;
}

#home > .content
{
	height: calc(100% - 8rem);
	max-height: calc(100% - 8rem);
	padding-bottom: 2rem;
}

#home > .content > .balance
{
	height: 10rem;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: var(--primary) !important;
	border-bottom: 0.05rem solid var(--primary-border);
}

#home > .content > .balance > #balance
{
	flex-basis: 7rem;
	font-size: 2.5rem;
	line-height: 4.5rem;
	font-weight: bold;
	color: var(--foreground) !important;
	text-shadow: 0rem 0rem 0.03rem var(--background);
	justify-content: center;
}

#home > .content > .balance > #status
{
	width: 100%;
	flex-basis: 3rem;
	font-size: 1rem;
	font-weight: bold;
	color: var(--foreground) !important;
}

#home > .content > .balance > #status > span
{
	padding-top: 0.075rem;
	padding-bottom: 0.075rem;

	margin-bottom: 0.33rem;
	margin-left: 0.33rem;

	border-radius: 0.50rem;
	border: 0.1rem solid var(--foreground);
}
#home > .content > .balance > #status > span:last-child
{
	margin-right: 0.33rem;
}

@keyframes pulse { to { color: var(--green-dddd); border-color: var(--green-dd); } }
@keyframes rotate { to { transform: rotate(360deg); } }

#home > .content > .balance > #status > .row
{
	align-content: stretch;
	transition: opacity 0.33s ease-out;
	opacity: 0.05;
}

#home > .content > .balance > #status > .row > .icon
{
	text-align: center;
	width: 1.125rem;
	height: 1.125rem;
	font-size: 0.75rem;
	line-height: 1.20rem;
	margin-left: 0.2rem;
	margin-right: 0.2rem;
}

#home > .content > .balance > #status > .loading
{
	opacity: 0.75;
	animation: pulse .33s ease-in-out infinite alternate;
}

#home > .content > .balance > #status > .loading > .icon
{
	line-height: 1.25rem;
	animation: rotate 1.22s linear infinite;
}

#home > .content > .history > li
{
	display: flex;
	width: 100%;
	height: 2.5rem;
	padding: 0rem 1rem;
	flex-shrink: 0;
	flex-direction: row;
	align-items: center;
}

#home > .content > .history > .system > * { opacity: 0.42; }
#home > .content > .history > .system.header > * { opacity: 0.75; }

#home > .content > .history > .system.send,
#home > .content > .history > .system.receive
{
	display: none;
}

#home > .content > .history > .header
{
	height: 2.5rem;
	font-weight: bold;
	font-style: normal;
	color: var(--text-muted);
	background-color: var(--background) !important;
	margin-top: 1.25rem;
	border-bottom: 0.15rem solid var(--border-muted);
}

#home > .content > .history > .pending { border-bottom-color: var(--pending-color); }
#home > .content > .history > .today { border-bottom-color: var(--received-color); }

#home > .content > .history > .header > .user
{
	margin-left: 0rem;
	font-style: normal;
}

#home > .content > .history > li > .icon
{
	width: 1.50rem;
	height: 1.50rem;
	font-size: 1.00rem;
	line-height: 1.50rem;
	flex: 0 1 auto;
	flex-grow: 0;
	flex-shrink: 0;
	text-align: center;
	border-radius: 0.5rem;
}

#home > .content > .history > li > .user
{
	display: inline-block;
	height: 1.5rem;
	font-size: 1.25rem;
	line-height: 1.5rem;
	margin-left: 0.75rem;
	flex-direction: row;

	min-width: 0;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

#home > .content > .history > li > .value
{
	width: auto;
	height: 1.5rem;
	font-size: 1.25rem;
	line-height: 1.5rem;
	margin: 0.5rem;

	flex-grow: 1;
	flex-shrink: 0;
	flex-direction: row;
	align-items: baseline;
	justify-content: flex-end;
}

#home > .content > .history > li.sent > .icon { color: var(--sent-color) !important; }
#home > .content > .history > li.sent > .value { color: var(--sent-color) !important; }
#home > .content > .history > li.received > .icon { color: var(--received-color) !important; }
#home > .content > .history > li.received > .value { color: var(--received-color) !important; }

#home > .content > .history > li > .user > small,
#home > .content > .history > li > .value > small
{
	height: 0.80rem;
	font-size: 0.80rem;
	line-height: 1.00rem;
	
	color: gray;
}

/**/

.toolbar,
.navigation
{
	z-index: 50;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	height: 4rem;
	flex-grow: 0;
	flex-shrink: 0;
	color: var(--primary-text);
	background-color: var(--primary);
	border-bottom: 0.05rem solid var(--primary-border);
}

.toolbar > .icon
{
	flex-grow: 0;
	flex-shrink: 0;

	width: 2rem;
	height: 2rem;
	font-size: 1.5rem;
	line-height: 2rem;
	margin: 1rem;
	text-align: center;
}

.toolbar > .title
{
	height: 3rem;
	line-height: 3rem;
	font-size: 1.25rem;
	text-align: left;
	font-weight: bold;
	white-space: pre;
}

/**/
.navigation
{
	align-items: center;
	justify-content: center;
	border-bottom: none;
	border-top: 0.05rem solid var(--primary-border);
}

.navigation > .item
{
	width: 6rem;
	height: 100%;
	padding: 0.5rem 1rem;
	margin: 0rem 0.5rem;
	text-align: center;
}

.navigation > .item:nth-child(2)
{
	height: 6rem;
	width: 9rem;
	padding-top: 1.35rem;
	box-shadow: 0 -0.25rem 0 var(--background);
	border-top: 0.05rem solid var(--primary-border);
	border-bottom: none;
	border-top-left-radius: 9999rem;
	border-top-right-radius: 9999rem;
	background-color: var(--primary);
}

.navigation > .item > .icon
{
	height: 2rem;
	line-height: 2rem;
	font-size: 1.5rem;
}
