body:before
{
	content: '';
	z-index: 101;
	display: block;
	position: fixed;

	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	
	background-color: #2F2F2F;
	
	transition:
		opacity 1.5s ease-out 0.00s,
		visibility 0.00s linear 1.5s;
}
body.loading:before
{
	opacity: 1;
	visibility: visible;
}

body.ready:before
{
	opacity: 0;
	visibility: hidden;
}
